In [148]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action = 'ignore')

In [153]:
train_2020 = pd.read_csv('C:/Users/wnrrh/desktop/dacon/KNOW 알고리즘/KNOW_data/train/KNOW_2020.csv')
test_2020 =  pd.read_csv('C:/Users/wnrrh/desktop/dacon/KNOW 알고리즘/KNOW_data/test/KNOW_2020_test.csv')

# 결측치 처리하기

In [126]:
train_2020.isnull().sum()

idx         0
saq1_1      0
saq1_2      0
saq2_1      0
saq2_2      0
           ..
bq29        0
bq30_1      0
bq30_2      0
bq30_3      0
knowcode    0
Length: 185, dtype: int64

In [127]:
test_2020.isnull().sum()

idx       0
saq1_1    0
saq1_2    0
saq2_1    0
saq2_2    0
         ..
bq28      0
bq29      0
bq30_1    0
bq30_2    0
bq30_3    0
Length: 184, dtype: int64

결측치가 전부 빈칸으로 표기되어 있음. >> NaN으로 표기 필요

In [128]:
for i in train_2020:
    train_2020[i].replace(' ', np.nan, inplace = True)
    if i != 'knowcode':
        test_2020[i].replace(' ', np.nan, inplace = True)

In [129]:
train_2020.isnull().sum()

idx            0
saq1_1         0
saq1_2       676
saq2_1         0
saq2_2       457
            ...
bq29           0
bq30_1      1016
bq30_2      1018
bq30_3      7104
knowcode       0
Length: 185, dtype: int64

In [130]:
test_2020.isnull().sum()

idx          0
saq1_1       0
saq1_2     683
saq2_1       0
saq2_2     456
          ...
bq28         6
bq29         0
bq30_1    1014
bq30_2    1014
bq30_3    7108
Length: 184, dtype: int64

In [131]:
# int형이 129, object형태가 56개
train_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8122 entries, 0 to 8121
Columns: 185 entries, idx to knowcode
dtypes: int64(129), object(56)
memory usage: 11.5+ MB

In [132]:
# 결측치 있는 row 확인.
train_2020[train_2020.isna().sum(axis=1) > 0]

,idx,saq1_1,saq1_2,saq2_1,saq2_2,saq3_1,saq3_2,saq4_1,saq4_2,saq5_1,...,bq26,bq26_1,bq27_1,bq27_2,bq28,bq29,bq30_1,bq30_2,bq30_3,knowcode
0,27127,4,4,4,4,4,5,4,5,3,...,4,간호학,1,1,1,40,4000,2600,NaN,304003
1,27128,5,6,5,6,4,5,4,5,4,...,4,기계공학,1,1,1,40,4000,3000,NaN,221401
2,27129,3,4,3,4,3,4,3,5,3,...,4,기계,1,1,1,48,4300,3000,NaN,815001
3,27130,4,5,2,3,3,3,4,5,3,...,4,보건학,1,1,1,40,3500,3300,NaN,304003
4,27131,5,6,4,5,3,5,4,4,4,...,4,건축설비공학,1,1,1,40,5700,2700,NaN,140201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8117,35244,4,6,3,5,3,3,1,NaN,5,...,6,지구과학,1,1,1,40,5100,4000,NaN,121105
8118,35245,3,4,4,5,2,4,4,6,1,...,4,광고학,1,1,1,45,3100,2600,NaN,26102
8119,35246,5,6,3,4,3,4,4,5,5,...,4,국문,1,1,1,40,8000,3000,NaN,31301
8120,35247,5,6,5,5,4,5,3,3,3,...,5,화학공학,1,1,1,40,5700,3200,NaN,154105
8121,35248,2,5,4,6,3,5,4,5,3,...,3,조리학,1,1,1,46,3700,2700,NaN,14201

모든 row에 결측치가 존재함.

## saq의 경우 saq1-1번 문항에서 1로 응답하면 saq1-2번은 null이어야함.

## 반대로 saq1-1을 2~5로 응답한다면 saq1-2번 결측치가 있어선 안됨.

# saq i-1을 1로 응답하고 2도 응답한 경우 처리

In [133]:
# saq 40-1을 1로 응답하고 40-2번도 응답한 병ㅅ 
for i in range(1,45):
    if len(train_2020.loc[lambda x: (x['saq'+str(i)+'_1'] == 1) & (x['saq'+str(i)+'_2'].notnull())]) != 0:
        print(i)

40

In [134]:
train_2020.loc[lambda x: (x['saq'+str(40)+'_1'] == 1) & (x['saq'+str(40)+'_2'].notnull())]

,idx,saq1_1,saq1_2,saq2_1,saq2_2,saq3_1,saq3_2,saq4_1,saq4_2,saq5_1,...,bq26,bq26_1,bq27_1,bq27_2,bq28,bq29,bq30_1,bq30_2,bq30_3,knowcode
2177,29304,3,7,3,6,3,5,3,6,3,...,4,경영학,1,1,1,48,4500,2500,NaN,26301

위 새끼 40-2를 nan 처리

In [135]:
train_2020.loc[lambda x: (x['saq'+str(40)+'_1'] == 1) & (x['saq'+str(40)+'_2'].notnull()), 'saq40_2'] = np.nan

In [136]:
train_2020.loc[lambda x: (x['saq'+str(40)+'_1'] == 1) & (x['saq'+str(40)+'_2'].notnull())]

Empty DataFrame
Columns: [idx, saq1_1, saq1_2, saq2_1, saq2_2, saq3_1, saq3_2, saq4_1, saq4_2, saq5_1, saq5_2, saq6_1, saq6_2, saq7_1, saq7_2, saq8_1, saq8_2, saq9_1, saq9_2, saq10_1, saq10_2, saq11_1, saq11_2, saq12_1, saq12_2, saq13_1, saq13_2, saq14_1, saq14_2, saq15_1, saq15_2, saq16_1, saq16_2, saq17_1, saq17_2, saq18_1, saq18_2, saq19_1, saq19_2, saq20_1, saq20_2, saq21_1, saq21_2, saq22_1, saq22_2, saq23_1, saq23_2, saq24_1, saq24_2, saq25_1, saq25_2, saq26_1, saq26_2, saq27_1, saq27_2, saq28_1, saq28_2, saq29_1, saq29_2, saq30_1, saq30_2, saq31_1, saq31_2, saq32_1, saq32_2, saq33_1, saq33_2, saq34_1, saq34_2, saq35_1, saq35_2, saq36_1, saq36_2, saq37_1, saq37_2, saq38_1, saq38_2, saq39_1, saq39_2, saq40_1, saq40_2, saq41_1, saq41_2, saq42_1, saq42_2, saq43_1, saq43_2, saq44_1, saq44_2, vq1, vq2, vq3, vq4, vq5, vq6, vq7, vq8, vq9, vq10, vq11, ...]
Index: []

[0 rows x 185 columns]

train set 처리 완료.

In [137]:
# saqi-1을 1로 입력하고 saq1-2를 다 0으로 기입한 것은 다 0으로 처리
for i in range(1,45):
    train_2020.loc[lambda x: (x['saq'+str(i)+'_1'] == 1) & (x['saq'+str(i)+'_2'].isnull()), 'saq'+str(i)+'_2'] = 0

In [138]:
for i in range(1,45):
    if len(test_2020.loc[lambda x: (x['saq'+str(i)+'_1'] == 1) & (x['saq'+str(i)+'_2'].notnull())]) != 0:
        print(i)

test 셋에는 없는 것 확인.

# saqi-1을 2~5로 응답하고 saqi-2가 공백인 경우

In [141]:
# saq i-1을 2-5로 응답하고 i-2번 응답안한 병ㅅ 
for i in range(1,45):
    if len(train_2020.loc[lambda x: (x['saq'+str(i)+'_1'] != 1) & (x['saq'+str(i)+'_2'].isnull())]) != 0:
        print(i)

train set엔 그런 병신 없음

In [142]:
for i in range(1,45):
    if len(test_2020.loc[lambda x: (x['saq'+str(i)+'_1'] != 1) & (x['saq'+str(i)+'_2'].isnull())]) != 0:
        print(i)

40

test set 이새끼 병신임.

In [144]:
test_2020.loc[lambda x : (x['saq'+str(40)+'_1'] != 1) & (x['saq'+str(40)+'_2'].isnull())]

,idx,saq1_1,saq1_2,saq2_1,saq2_2,saq3_1,saq3_2,saq4_1,saq4_2,saq5_1,...,bq25,bq26,bq26_1,bq27_1,bq27_2,bq28,bq29,bq30_1,bq30_2,bq30_3
7136,34263,4,3,3,4,4,4,4,4,4,...,39,4,경영학,1,1,1,45,4500,3500,NaN

In [145]:
test_2020['saq40_2'].value_counts()

4    1940
3    1497
5    1326
2     816
6     301
1     122
7      32
Name: saq40_2, dtype: int64

In [146]:
# 가장 많은 값인 4 입력
test_2020.loc[lambda x : (x['saq'+str(40)+'_1'] != 1) & (x['saq'+str(40)+'_2'].isnull())] = 4

In [147]:
test_2020.loc[lambda x : (x['saq'+str(40)+'_1'] != 1) & (x['saq'+str(40)+'_2'].isnull())]

Empty DataFrame
Columns: [idx, saq1_1, saq1_2, saq2_1, saq2_2, saq3_1, saq3_2, saq4_1, saq4_2, saq5_1, saq5_2, saq6_1, saq6_2, saq7_1, saq7_2, saq8_1, saq8_2, saq9_1, saq9_2, saq10_1, saq10_2, saq11_1, saq11_2, saq12_1, saq12_2, saq13_1, saq13_2, saq14_1, saq14_2, saq15_1, saq15_2, saq16_1, saq16_2, saq17_1, saq17_2, saq18_1, saq18_2, saq19_1, saq19_2, saq20_1, saq20_2, saq21_1, saq21_2, saq22_1, saq22_2, saq23_1, saq23_2, saq24_1, saq24_2, saq25_1, saq25_2, saq26_1, saq26_2, saq27_1, saq27_2, saq28_1, saq28_2, saq29_1, saq29_2, saq30_1, saq30_2, saq31_1, saq31_2, saq32_1, saq32_2, saq33_1, saq33_2, saq34_1, saq34_2, saq35_1, saq35_2, saq36_1, saq36_2, saq37_1, saq37_2, saq38_1, saq38_2, saq39_1, saq39_2, saq40_1, saq40_2, saq41_1, saq41_2, saq42_1, saq42_2, saq43_1, saq43_2, saq44_1, saq44_2, vq1, vq2, vq3, vq4, vq5, vq6, vq7, vq8, vq9, vq10, vq11, ...]
Index: []

[0 rows x 184 columns]

test 셋 처리 완료